HIDDEN_USER = 'secret_user'
HIDDEN_PASSWORD = 'secret_password'
HIDDEN_SECRET_KEY = 'secret_key'

HIDDEN_EMAIL_HOST = ''
HIDDEN_EMAIL_HOST_USER = ''
HIDDEN_EMAIL_HOST_PASSWORD = ''
HIDDEN_EMAIL_PORT = 587

HIDDEN_BROKER_URL = ''
