import random


HIDDEN_USER = 'secret_user'
HIDDEN_PASSWORD = 'secret_password'
HIDDEN_SECRET_KEY = 'secret_key'

def get_new_key():
    try:
        secret_key = ''.join([random
                                    .SystemRandom()
                                    .choice('abcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*(-_=+)')
                                     for i in range(50)])
    except IOError:
        pass
    return secret_key
